:root {
  --color-bg: #FFFFFF;
  --color-card-bg: #EFEFEF;
  --color-text: #171E2A;
  --brand-color: #06AF74;
  --color-gray-light: #86848c;
}

* {
  list-style: none;
  text-decoration: none;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  appearance: 0;
}

html {
  font-size: 16px;
}

input::placeholder {
  color: var(--color-text);
}

.dark_mode {
  --color-bg: #16171B;
  --color-card-bg: #212226;
  --color-text: #DFE1E4;

}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}



/* Header Section */

header {
  width: 100%;
  background: var(--color-card-bg);
  padding: 1rem 0;
}

header .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 97%;
  margin: 0 auto;
}

header .box .logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

header .box .logo p {
  font-weight: 600;
}

header .box .logo img {
  width: 3rem;
  height: auto;
  border-radius: .75rem;
}

header .search {
  display: flex;
  align-items: center;
  padding: .75rem;
  border-radius: .3rem;
  width: 32vw;
  gap: 1rem;
  background-color: var(--color-bg);
  color: var(--color-gray-light);

}

header .search input {
  background: transparent;
  width: 100%;
}

header .account-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

header .account-area .theme-btn {
  display: flex;
  width: 5rem;
  height: 2rem;
  background-color: var(--color-bg);
  border-radius: 6px;
  cursor: pointer;
}

header .account-area .theme-btn span {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

header .account-area .theme-btn .active {
  background-color: var(--color-text);
  color: var(--color-bg);
  border-radius: 6px;
}
/* Nav or sidebar */

nav {
  background-color: var(--color-card-bg);
  width: 16rem;
  position: fixed;
  height: 100%;

}

nav .sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

nav .sidebar li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 4rem;
  padding-left: 40px;

  border-radius: 10px;
  margin: 10px 5px;
}

nav .sidebar li a {
  font-size: 1.1rem;
  font-weight: 500;
  color: inherit;
}

nav .sidebar li:hover {
  background-color: rgb(6,175,116, .35);
}



/* Main content */

main {
  margin-left: 16rem;
  padding: 1.5rem;
  height: 100%;
}



.add-animal-btn {
  color: var(--brand-color);
  border-radius: 1.5rem;
  border: 1px solid var(--brand-color);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 25px;
}

/* Animal form */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container .animal-form h1 {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.animal-form {
  position: relative;
  background-color: var(--color-card-bg);
  width: 100%;
  max-width: 800px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px var(--color-card-bg);
}

form .row {
  display: flex;
  column-gap: 15px;
}

.input-box {
  margin-top: 20px;
  width: 100%;
}

.row .more {
  flex-grow: 2;
}

.animal-form input, select {
  position: relative;
  height: 50px;
  padding: 15px;
  width: 100%;
  margin-top: 8px;
  border-radius: 6px;
  background-color: var(--color-bg);
  color: var(--color-text);
}


.submit-button {
  display: flex;
  align-items: center;
  column-gap: 6px;
  justify-content: flex-end;
}

.submit-button .clear-form {
  width: 110px;
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #ef5350;
  color: white;
  padding: 15px;
  border-radius: 6px;
  height: 50px;
  cursor: pointer;
}

.submit-button input {
  width: 150px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--brand-color);
  cursor: pointer;
}

.submit-button input:hover {
  background-color: #49C69A;

}

.submit-button .clear-form:hover {
  background-color: #FF7471;
}

/* Animals page */

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-card-bg);
  border-radius: 8px;
  padding: 20px;
  min-width: 400px;
  box-shadow: 0 0 15px var(--color-card-bg);
}

.card .animal-table {
  border-collapse: collapse;
  font-size: .95rem;
  font-weight: 500;
  border-top-right-radius: 8px;
  overflow-x: scroll;

}

.animal-table thead tr {
  background-color: var(--brand-color);
  color: #ffffff;
  text-align: left;
}

.animal-table th,
.animal-table td {
  padding: 12px 15px;
  overflow: hidden;
}

.animal-table tbody tr {
  border-bottom: 1px solid var(--color-gray-light);
}

.animal-table tbody tr:hover {
  background-color: var(--color-bg);
}

.animal-table .material-icons-sharp:hover {
  color: #ef5350;
  cursor: pointer;
}

@media(max-width: 1385px) {
  .card .animal-table {
    display: block;
  }
}

/* Footer */
